<div class="container">
  <%= form_for [@product, @comment], remote: true do |f| %>
    <p>
      <%= f.label :body, class: "form-group" %><br>
      <%= f.text_area :body, class: "form-control" %>
    </p>
    <div class="text-center">
      <%= f.submit nil, class: "btn-primary p-2 rounded", id: "comment_body" %>
    </div>
  <% end %>
  <div class="errors text-danger">
  </div>
  <%= render "shared/error", object: @comment %>
</div>
