<%= paginate @products%>
<div class="row justify-content-center text-center">
  <% @products.each do |product| %>
    <div class="col-4 my-3">
      <div class="card">
        <%= image_tag product.images[0], class: "card-image" %>
        <div class="card-body">
          <h5 class="card-title"><%= product.title %></h5>
          <p class="card-text">Price: <%= product.price %>$</p>
          <div class="d-flex flex-row justify-content-center">
            <% if (user_signed_in? && current_user.id != product.user_id) || (!user_signed_in?) %>
              <% if session[:cart].include? product.id %>
                <%= button_to 'Remove from Cart', cart_path(id: product.id), method: :delete, class: "btn-danger p-2 rounded mx-2" %>
              <% else %>
                <%= button_to 'Add to Cart', cart_path(id: product.id), method: :put, action: :update, class: "btn-primary p-2 rounded mx-2" %>
              <% end %>
            <% end %>
            <%= button_to 'Show Details', product_path(product), method: :get, class: "btn-secondary p-2 rounded mx-2" %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>
