<h1>Products Show Page</h1>
<hr>
<strong>Title: </strong><%= @product.title%><br>
<strong>Description: </strong><%= @product.description%><br>
<strong>Price: </strong><%= @product.price%><br>
<strong>Quantity: </strong><%= @product.quantity%><br>
<strong>Serial Number: </strong><%= @product.serial_number%><br>
<%= link_to 'Product Dashboard Page', dashboard_products_path%>
<hr>
